
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    height: 100%;
    
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    padding-top: 10px;
    background: #e3e3e3;
}

/* Wrapper for page content to push down footer */
.wrap {
      min-height: 100%;
      position:relative;  
}

.main {
    margin-top:  50px;
    padding-bottom:  255px;
}

#footer {
      position: absolute;
      width: 95%;
      bottom: 0;
      height: 255px;
      text-shadow: #fff 0 1px 0;
      line-height: 18px;
        /* This value is the height of your footer */
        margin:0;
        padding: 0;
        
}

#footer ul li a {
     color: #333;
}

#footer ul li a:hover {
    
    text-decoration: underline;
}
hr {
    border-width: 1px 0;
    border-color: #c1c1c1 #f9f9f9 #f9f9f9;
    border-style: solid;
   
}
.language-list-footer > li {
    list-style-type: none;  
    padding-right: 0;
    padding-left: 0;
    font-size: 14px;
    font-weight: bold;
   
}

.rights {
    color:  #666;
    font-size: 12px;
    line-height: 18px;
}
.rights a {
    text-decoration: underline;
    color: #666;
    
}
.rights a:hover {
    color: #333;
}